.contactsandorder {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contactsandorder a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 325px) {
  .contactsandorder {
    padding-left: 133px;
    text-align: left;
  }
}
